@charset "utf-8";

body {
    background-color: #e0def4;
}

.container {
    display: grid;
    grid-template-columns: 15vw 10vw 50vw 25vw;
    grid-template-rows: 10vh 80vh 10vh;
}
.col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #f2e9de;
    margin: 0px;
    padding: 0px;
}
.arrow_button {
    display: flex;
    flex-flow: rowwrap;
    justify-content: flex-end;
    cursor: pointer;
    background-color:  #f2e9de;
    border:none;
    padding: 0;

}
.button_arrow {
    width: 60px;
    height: 50px;
    font-size: 3em;
}
.nav li {
    list-style: none;
    padding: 10px;
}
.nav li a {
    font-size: 1.8em;
    text-align:center;
    color: #31748f;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
li a:hover {
    color: #eb6f92;
}
.col-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #faf4ed;
}
.plus_button {
    display: flex;
    flex-flow: rowwrap;
    justify-content: flex-end;
    margin-top: 80px;
    padding-right: 0px;
}
.col-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #faf4ed;   
}
.textarea {
    display:flex;
    flex-flow: rowwrap;
    justify-content: flex-start;
    padding-left: 0px;
    resize: none;
    margin-top: 50px;
}
.button {
    display:flex;
    flex-flow:rowwrap;
    justify-content: center;
    border: none;
    color: #31748f;
    background-color: #faf4ed;
    margin: 10px;
    padding: 4px;
}
.save {
    color: #eb6f92;  
}
.delete {
    color: #555169;
}

p {
    font-family: 'Montserrat', sans-serif;
}
.col-4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #faf4ed;  
}
.header {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;     
}
.header a {  
    text-decoration: none;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #31748f;
}
.footer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #faf4ed;
}
.footer {
    display: flex;
    flex-flow: rowwrap;
    justify-content: center;
    margin-right: 30px;
}

.footer p { 
    display: block;
    text-align: center;
    color: #286983;
    font-weight: bold;
}

.footer_1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer_1 p {
    display:block;
    text-align: center;    
}

.container_1 {
    display:grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 95vh 5vh;
}

.box_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #c4a7e7;
}

.box_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #c4a7e7;
}

.header_1 {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh;    
}

.header_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #f2e9de;
    margin: 0px;
    padding: 0px;
}

.header_1 a {  
    text-decoration: none;
    padding: 8px 20px;
    font-family: 'Montserrat', sans-serif;    
}  